.btnsupprimer1 {
    background-color: #b2a4a4;
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50px;
    left: 120px;
  }
  
  .btnsupprimer1 svg {
    position: absolute;
    top: 6px;
    left: 10px;
  }
  
  .btnsupprimer1:focus{
    outline-color: #b2a4a4;
  }